.main {
  width: 100%;
  padding:0 2.5rem;
  transition: all 0.5s ease-out;

}

.shrink{
  width: 70%;
  transition: all 0.5s ease-out;
}
  @media (max-width: 780px) {
  .shrink {
width: 100%;  }
}

.title {
  margin: 1em 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.18;
}

  