.aside {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 0%;
  padding: 2rem;
  background-color: #fff;
  position: relative;
}

.visible {
  width: 30%;
}

.closeButton {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}
/* Mobile */
@media (max-width: 780px) {
  .aside {
    width: 100%;
  }
  .closeButton {
    display: inline-block;
  }
}

.aside img {
  width: 100%;
  height: 16rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

.aside header {
  display: flex;
  justify-content: space-between;
}

.imageHeader {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.aside strong {
  font-weight: 500;
}

.aside em,
.aside p {
  color: var(--gray);
}

.imageInformation {
  padding: 0;
  border-bottom: 1px solid #e4e4e5;
  border-top: 1px solid #e4e4e5;
  list-style: none;
}

.imageInformation li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.imageInformation li:not(:last-child) {
  border-bottom: 1px solid #e4e4e5;
}

.imageDescription h1 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.likeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.likeButton:hover {
  fill: #d0311a;
  stroke: #d0311a;
}

.deleteButton {
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid #e4e4e5;
  border-radius: 4px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.deleteButton:hover {
  border: 2px solid var(--gray);
  font-weight: 500;
}
